.actionsContainer {
  display: flex;
  flex-direction: column;
  max-width: 75px;
  width: 50px;
  align-self: center;
  z-index: 3;
  position: relative;
}

.actionButton {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 50px;
  padding: 0px 0px;
}

.menuBtn {
  display: none;
}

@media (max-width: 600px) {
  .menuBtn {
    display: block;
  }
}
