.ourDoctorsDiv {
  height: max-content;
  grid-column: 1 / -1;
}

.doctorsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
  .doctorsList {
    grid-template-columns: repeat(1, 1fr);
  }
}
