.navDiv {
  display: grid;
  height: 100px;
  grid-template-rows: 1fr 25px;
  grid-template-columns: 75px 1fr 1fr;
  /* flex-basis: content; */
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

@media (max-width: 600px) {
  .navBar {
    display: none !important;
  }
  .navDiv {
    grid-template-columns: 75px 1fr;
  }
  .clinicLogo {
    margin-inline-start: 0px;
  }
  .logoContainer {
    margin-inline-start: 10px;
  }
}

.logoContainer {
  grid-row: 1 /2;
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  background-color: rgba(255, 255, 255, 0.87);
}

.clinicLogo {
  grid-row: 1 /2;
  width: 75px;
  height: 75px;
}

.clinicNameText {
  grid-row: 1 /2;
  margin: 0px 0px;
  margin-inline-start: 30px;
  text-align: center;
  backdrop-filter: blur(20px);
  align-self: end;
  justify-self: flex-start;
}

.navBar {
  grid-row: 1 /2;
  display: flex;
  /* margin-inline-start: 30%; */
  /* justify-content: flex-start; */
}

.navBar ul {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 28px;
  align-items: end;
  margin: 0px 0px;
}

.navBar ul a {
  margin-inline-start: 40px;
}

.navSeparator {
  background-color: var(--sinopia);
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
