.pageContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.overlayContainer {
  display: flex;
  flex-direction: column;
  visibility: visible;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  background-color: var(--sinopia);
  opacity: 0.8;
  align-items: center;
  justify-content: center;
}

.alertBox {
  z-index: 7;
  margin: auto;
  display: flex;
  position: fixed;
  top: 40vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-color: var(--rich-black);
  color: white;
}

.docInfoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.imgContainer {
  margin: 10px 10px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  border-radius: 75px;
  display: flex;
  background-color: var(--rosewood);
  justify-content: center;
}

.imgContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  border-radius: 75px;
  background-color: white;
  opacity: 0.8;
  color: var(--rich-black);
  justify-content: center;
}

.dataContainer h2 span {
  color: var(--persimmon);
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  border-radius: 75px;
  background-color: white;
  opacity: 0.8;
  color: var(--rich-black);
  justify-content: center;
}

.schCard {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 5px 5px 15px 0px var(--persimmon);
  -moz-box-shadow: 5px 5px 15px 0px var(--persimmon);
  box-shadow: 5px 5px 15px 0px var(--persimmon);
  background: none repeat 0 0 #cac6d2;
  background-color: #cac6d2;
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  margin: 10px;
  min-width: 300px;
}

.schCard:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 20px var(--persimmon);
  -moz-box-shadow: 5px 5px 15px 20px var(--persimmon);
  box-shadow: 5px 5px 15px 20px var(--persimmon);
}

.selected {
  background-color: var(--orange-web);
}

.schCard h2 h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.schCard h3 {
  margin: 4px;
}

.calendarDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.calendarBody {
  color: var(--rich-black) !important;
}

.calendarView {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin: auto;
}

.calendarView h2 {
  margin: 10px 0px;
}

.userInfoView {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
  height: 100%;
}

.userInfoView h2 {
  margin: 10px 0px;
  grid-column: 1 / -1;
}
.userInfoView h3 {
  margin: 10px 0px;
  grid-column: 1 / -1;
}

.userInfoView input {
  grid-column: 1 / -1;
  background-color: white;
  /* border: none; */
  border-radius: 8px;
  border: 3px solid rgba(73, 114, 133, 0.6);
  color: var(--rich-black);
  font-size: 1.4em;
  font-weight: 300;
  padding: 20px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.userInfoView form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
}

form .okBtn {
  grid-column: 1 /2;
  margin-top: 10px;
}
form .clearBtn {
  grid-column: 1 /2;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .docInfoContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .imgContainer {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  .dataContainer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .scheduleContainer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
  .calendarDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .calendarView {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .userInfoView {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}
